# 忽略环境变量文件
.env

# 忽略 data 文件夹
data/

# 忽略 Python 虚拟环境（系统自带的依赖库文件夹，常见的有以下这些）
venv/
.venv/
env/
ENV/

# 忽略 Python 缓存文件
__pycache__/
*.py[cod]
*$py.class

# 忽略 IDE/编辑器配置文件（系统自动生成的配置）
.idea/
.vscode/
*.swp
*.swo

# 忽略操作系统生成的隐藏文件
.DS_Store       # Mac系统
Thumbs.db       # Windows系统

# 忽略日志和数据库文件（防止将本地运行时的数据提交）
*.log
*.sqlite3
*.db